.container {
  padding: 1em;
}

.example-ripple-container {
  background-color: white;
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

#container .mat-icon {
  height: 150px;
  width: 150px;
  font-size: 150px;
  line-height: 150px;
  vertical-align: middle;
}

.mat-card {
  background-color: #eee;
}

.fixed-fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

input[type="file"] {
  display: none;
}

.mat-card-content > div {
  margin: auto !important;
}
